<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ph.greenkorthaidictionary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <application
        android:name=".GreenKorThaiDicApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".act.IntroAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".act.MainAct"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".act.SettingAct"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".act.AppendixAct"
            android:label="@string/title_activity_appendix"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".act.AppendixContentAct"
            android:label="@string/title_activity_appendix_content"
            android:screenOrientation="portrait"></activity>

        <service android:name=".service.QueryIntentService" />

    </application>

</manifest>
